.nice-block {
    height: 40px;
    overflow: hidden;
    width: 300px;
    padding: 10px;
    background: rgb(250, 255, 192);
    margin: 20px;
}


.more {
    height: auto;
    overflow: visible;
    text-align: center;
}

.nice-block span {
    cursor: pointer;
    color: rgb(44, 26, 205);
}

p {
    color: rgb(44, 26, 205);
    text-align: center;
    font-size: larger;
}

div {
    text-align: center;

}

h1 {
    color: rgb(33, 33, 216);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#lax {
    display: flex;
    margin-top: 90px;
    padding-left: 240px;

}

body {
    background-image: url("laximg.jpg");
}

p:hover {
    font-size: x-large;
}